BTSMT_ADMIN_PASSWORD=change_admin_password
BTSMT_DIRECTION_PASSWORD=change_direction_password

BTSMT_PROF_CONTROLE_PASSWORD=change_controle_password
BTSMT_PROF_INFORMATIQUE_PASSWORD=change_informatique_password
BTSMT_PROF_MARKETING_PASSWORD=change_marketing_password
BTSMT_PROF_COMMERCIALISATION_PASSWORD=change_commercialisation_password
BTSMT_PROF_COMMUNICATION_PASSWORD=change_communication_password
BTSMT_PROF_ENTREPRENEURIAT_PASSWORD=change_entrepreneuriat_password
BTSMT_PROF_ANGLAIS_PASSWORD=change_anglais_password
BTSMT_PROF_ARABE_PASSWORD=change_arabe_password
BTSMT_PROF_ESPAGNOL_PASSWORD=change_espagnol_password
BTSMT_PROF_FRANCAIS_PASSWORD=change_francais_password
BTSMT_PROF_ECONOMIE_PASSWORD=change_economie_password
BTSMT_PROF_MANAGEMENT_PASSWORD=change_management_password
BTSMT_PROF_DROIT_PASSWORD=change_droit_password
